<title>生活休闲</title>
<div class="hearHtml" style="display:none">
</div>
<div class="wdjfWap" id="xxjf">我的积分:</div>
<div class="jfListWap clearfix bgFFF" id="xxList">
    sdfsdf
</div>
<input type="button" class="jfListWap clearfix bgFFF" value="123" id="btn">
</input>
<script>
    $("#xxList").click(function () {
        loginAjaxGet.getPoint(function () {

        })
    })
    $("#btn").click(function () {
        loginAjaxGet.logout(function () {

        })
    });
</script>