<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= title %></title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <link href="/stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/common.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/repository.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/fr.routeApp-2.1.js"></script>
</head>

<body>
<header class="header">
    <span class="colfff font16 span">知识库</span>
    <i class="icoAll ico1 fr-back"></i>
    <span class="headHtmlWap">
    </span>
</header>
<div class="search_list">
    <div class="list_box">
        <input type="text" class="search_content" placeholder="设备编码">
        <button type="button" class="glyphicon glyphicon-search icon_search"></button>
    </div>
    <div class="lore_container">
        <div class="maintain">
            <div class="maintain_icon"><img src="/images/maintain@3x.png"/></div>
            <div class="maintain_title">
                 <h1>维护手册</h1>
                 <p>林洋集中抄表终端</p>
            </div>
            <div class="icon_right">
                 <i class="glyphicon glyphicon-menu-right"></i>
            </div>
            <div class="put_data">
                <ul>
                    <li class="glyphicon glyphicon-eye-open data_one"></li>
                    <li class="data_two">56</li>
                    <li class="data_three">2016-06-26</li>
                    <li class="data_three">|</li>
                    <li class="data_three">唐乐乐</li>
                </ul>
            </div>
        </div>
        <div class="maintain">
            <div class="maintain_icon"><img src="/images/install@3x.png" width="71" height="71"/></div>
            <div class="maintain_title">
                <h1>安装手册</h1>
                <p>林洋集中抄表终端</p>
            </div>
            <div class="icon_right">
                <i class="glyphicon glyphicon-menu-right"></i>
            </div>
            <div class="put_data">
                <ul>
                    <li class="glyphicon glyphicon-eye-open data_one"></li>
                    <li class="data_two">56</li>
                    <li class="data_three">2016-06-26</li>
                    <li class="data_three">|</li>
                    <li class="data_three">唐乐乐</li>
                </ul>
            </div>
        </div>
        <div class="maintain">
            <div class="maintain_icon"><img src="/images/abstract@3x.png" width="71" height="71"/></div>
            <div class="maintain_title">
                <h1>设备简介</h1>
                <p>林洋集中抄表终端</p>
            </div>
            <div class="icon_right">
                <i class="glyphicon glyphicon-menu-right"></i>
            </div>
            <div class="put_data">
                <ul>
                    <li class="glyphicon glyphicon-eye-open data_one"></li>
                    <li class="data_two">56</li>
                    <li class="data_three">2016-06-26</li>
                    <li class="data_three">|</li>
                    <li class="data_three">唐乐乐</li>
                </ul>
            </div>
        </div>
        <div class="maintain">
            <div class="maintain_icon"><img src="/images/tool@3x.png" width="71" height="71"/></div>
            <div class="maintain_title">
                <h1>工具和配件</h1>
                <p>林洋集中抄表终端</p>
            </div>
            <div class="icon_right">
                <i class="glyphicon glyphicon-menu-right"></i>
            </div>
            <div class="put_data">
                <ul>
                    <li class="glyphicon glyphicon-eye-open data_one"></li>
                    <li class="data_two">56</li>
                    <li class="data_three">2016-06-26</li>
                    <li class="data_three">|</li>
                    <li class="data_three">唐乐乐</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>


