<title><%= title %></title>
<div class="hearHtml" style="display:none">
</div>
<div class="search_list">
    <div class="list_box">
        <input type="text" class="search_content" placeholder="设备编码">
        <button type="button" class="glyphicon glyphicon-search icon_search"></button>
    </div>
    <div class="lore_container">
    </div>
</div>
<script>
    console.log("search");
</script>


