<title><%= title %></title>
<link href="/stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet">
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
<link href="/stylesheets/common.css" type="text/css" rel="stylesheet">
<link href="/stylesheets/biz.css" type="text/css" rel="stylesheet">
<div class="hearHtml" style="display:none">
</div>
<div class="rep_content">
    <div class="choice_question">
        <div class="type_items">
            <sapn class="rep_single"></sapn>
            <sapn id="question_content"></sapn>
        </div>
        <ul id="answer_ul">
            <!--<li><a>A</a>防止直击雷</li>-->
            <!--<li><a>B</a>防止反击过电压</li>-->
            <!--<li><a>C</a>防止雷电进行波</li>-->
            <!--<li><a>D</a>防止直击雷</li>-->
        </ul>
    </div>
    <div class="btn_next">
        <a href="javascript:void(0)" class="btns btns-blue btns-biggest top10 nextBtn">下一题</a>
    </div>
    <div class="test_answer">
        <h1>本题回答错误</h1>
        <ul>
            <!--<li><span class="check_false" >A错</span><span>防止直击雷靠避雷针，避雷网，避雷线。</span></li>-->
            <!--<li><span class="check_true">C对</span><span>遭遇雷击后，雷电波沿线路行进时靠避雷器拦截引入大地。因为这时处于高电压下，避雷器高阻氧化锌阀片被击穿，电阻几近于零，瞬间导通，将雷电波引入大地。</span>-->
            <!--</li>-->
        </ul>
    </div>
</div>
<script>
    $(".test_answer").hide();
    console.log("my_test_page");
</script>


