<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>知识库搜索页面</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <link href="/stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/common.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/repository.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <!--<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="/javascripts/fr.routeApp-2.1.js"></script>
</head>

<body>
<header class="header">
    <span class="colfff font16 span">知识库</span>
    <i class="icoAll ico1 fr-back"></i>
    <span class="headHtmlWap">
    </span>
</header>
<div class="rep_content">
   <div class="search_box">
       <input type="text" class="search_control" placeholder="设备编码">
       <button type="button" class="glyphicon glyphicon-search btn_search"></button>
   </div>
   <img src="/images/repository.png"/>
</div>
</body>
</html>


