<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= title %>></title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/practise.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/fr.test.js"></script>
    <style>
    </style>
</head>

<body>
<header class="header">
    <!--<span class="colfff font16 span2">积分商城</span>-->
    <!--<i class="icoAll ico1 fr-back"></i>-->
    <div class="tck-cover">1
    </div>

</header>
<div class='wappperAll'>


</div>
</body>
</html>

<script type="text/javascript" src="/javascripts/version.js"></script>
<script type="text/javascript" src="/javascripts/pub.js"></script>
<script type="text/javascript" src="/javascripts/ajax.js"></script>
<script>
</script>

